body {
    background-image: url("../images/Canvas_bg.png");
}

/*Bar*/
	#tabs {
		margin-left:15px;
		margin-right: 15px;
		margin-top:15px;
		height: 230px;
        background-image: url("../images/Edit_bg.png");
	}
    
    #tabs-1 { height: 136px; }


	/*Scroll*/
	.scroll-pane { background: none; overflow: auto; width: 99%; float:left; margin-left: auto; margin-right: auto; padding: 0px; }
    .scroll-content { background: none; float: left; }
    .scroll-content-item { width: 100px; height: 100px; float: left; /*margin: 10px;*/ font-size: 3em; line-height: 96px; text-align: center; }
    * html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
    .scroll-bar-wrap { background-image: url("../images/Slider_bg.png"); clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
    .scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
    .scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
    .scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
    .scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
    /*
    #gallery { list-style-type: none; float: left; width: 65%; min-height: 12em; } * html #gallery { height: 12em; }
    .gallery.custom-state-active { background: #eee; }
    .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
    .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
    .gallery li a { float: right; }
    .gallery li a.ui-icon-zoomin { float: left; }
    .gallery li img { width: 100%; cursor: move; }
 */
    #canvas {  width: 100%; height: 600px; padding: 0px;
    
    -webkit-box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 1);
box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 1);

-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    } * html #trash { height: 18em; } /* IE6 */

#canvas li {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

li {
    list-style: none;
}

img {
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:auto;
}
    
    .scroll-content-item-placeholder { width: 100%; height: 100%; float: left; /*margin: 10px;*/ background: #eee;}
    
    .ui-widget-content {border: 0px;} 
    
    .page-button {
        width: 6%; height: 68px; margin: 0px; padding: 0px;
    }
    
    #left-page-buttons {
        float: left; padding: 0px;
    }
    
    #right-page-buttons {
        float: right; padding: 0px;
    }
    
    .widget-icon-img {
        width: 100px; height: 100px; float: left;
    }
    
    .widget-description {
        text-align: center;
        width: 100px;
        height:12px;
        font-size: 12px;
        float: left;
        margin-top: -25px;
    }
    
    
    /* for date widget */
    .imageText{
            z-index:2;
            text-shadow: -1px -1px #666666;
            font-weight: bold;
            width: 200px;
            position:absolute;
            
        }    
        
    .text-widget {
        font-size: 14px;
        line-height: 6px;
        padding: 10px;
    }
    
    #ajaxBusy {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 20%;
    }
    
    #setting-list li {
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    }
    
    #export-area {
        width: 800px;
    }
    
    #login-window {
        width: 500px;
        height:500px;
        margin-top: 100px;
        margin-bottom: 800px;
        margin-left: auto;
        margin-right: auto;
        -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    
    -webkit-box-shadow: 0px 0px 100px 1000px rgba(5, 5, 5, 0.5);
box-shadow: 0px 0px 100px 1000px rgba(5, 5, 5, 0.5);
    
    
    text-align: center;
    
    }
    
    